@font-face {
    font-family: "Cobe";
    src: url(../../public/Cobe/Cobe_Regular.ttf);
  }
  
  @font-face {
    font-family: "Cobe-bold";
    src: url(../../public/Cobe/Cobe-Bold.ttf);
  }

  .partners {
    background-image: url(../../public/img/sfondo_team.jpg); 
    padding: 100px 0px 100px 0px;
    color: white;
    font-family: "Cobe-bold", sans-serif;
    background-position: center;
    margin: 0px 0px 0px 0px;
    background-size: cover;
  }

  .header-partners {
    font-size: calc(46px + 0.390625vw);
    padding: 10px 0px 40px 800px; 
  }

  .ask {
    padding-top: 20px;
  }
  
  .lexant {
    padding-top: 20px;
  }
  
  .lino-sonego {
    padding-top: 20px;
  }
  
  .oies {
    padding-top: 20px;
  } 
  
  .proodos {
    padding-top: 20px;
  }
  
  .ask-advisor {
    padding-top: 20px;
  }

@media(max-width:768px) {
  .partners {
    padding: 100px 0px 0px 0px;
  }

  .header-partners {
    font-size: calc(46px + 0.390625vw);
   padding: 40px 0px 40px 80px; 
   overflow-x: hidden;
  }

  .ask {
    padding: 0px 0px 0px 50px;
  }
  
  .lexant {
   
    padding: 0px 0px 0px 50px;
  }
  
  .lino-sonego {
    padding: 0px 0px 0px 50px;
  }
  
  .oies {
    padding: 0px 0px 40px 50px;
  } 
  
  .proodos {
    padding: 0px 0px 0px 50px;
  }
  
  .ask-advisor {
    padding: 0px 0px 0px 50px;
  }

} 

@media(min-width:768px) and (max-width:992px) {
  .partners {
    padding: 100px 0px 0px 0px;
  }

  .header-partners {
    font-size: calc(46px + 0.390625vw);
    padding: 40px 0px 40px 300px;
  }

  .ask {
    padding: 0px 0px 0px 100px;
  }
  
  .lexant {
   
    padding: 0px 0px 0px 100px;
  }
  
  .lino-sonego {
    padding: 0px 0px 0px 100px;
  }
  
  .oies {
    padding: 0px 0px 0px 100px;
  } 
  
  .proodos {
    padding: 0px 0px 0px 100px;
  }
  
  .ask-advisor {
    padding: 0px 0px 0px 100px;
  }
  } 

@media(min-width:992px) and (max-width:1200px) {
  .partners {
    padding: 100px 0px 50px 0px;
  }

  .header-partners {
    font-size: calc(46px + 0.390625vw);
    padding: 40px 0px 40px 450px;    
  }

  .ask {
    padding: 0px 0px 0px 0px;
  }
  
  .lexant {
   
    padding: 0px 0px 0px 0px;
  }
  
  .lino-sonego {
    padding: 0px 0px 0px 0px;
  }
  
  .oies {
    padding: 0px 0px 0px 0px;
    overflow-x: hidden;
  } 
  
  .proodos {
    padding: 0px 0px 0px 0px;
  }
  
  .ask-advisor {
    padding: 0px 0px 0px 0px;
  }

}

@media(min-width:1200px) and (max-width:1500px) {
  .partners {
    padding: 100px 0px 50px 0px;
  }

  .header-partners {
    font-size: calc(46px + 0.390625vw);
    padding: 40px 0px 40px 645px;
  }
  .oies {
    overflow-x: hidden;
  }

}
@media(min-width:1500px) and (max-width:1900px) {
  .header-partners {
    font-size: calc(46px + 0.390625vw);
    padding: 0px 0px 40px 665px;
  }
  .oies {
    overflow-x: hidden;
  }
}
